extends layout/layout
block content
	.container

		.grid-group
			.grid.size-6
				.form-container
					form.js-esti-mate.js-base-validation(name="estimate-form")
						.grid-group
							.grid.size-12
								.float.js-float
									label.float__label Best-case estimate in hours
									input.float__input(type="text" name="bestcase" placeholder="Best-case estimate in hours" required)
							.grid.size-12
								.float.js-float
									label.float__label Most likely estimate in hours
									input.float__input(type="text" name="mostlikely" placeholder="Most likely estimate in hours" required)
							.grid.size-12
								.float.js-float
									label.float__label Worst-case estimate in hours
									input.float__input(type="text" name="worstcase" placeholder="Worst-case estimate in hours" required)
							.grid.size-12
								.float.js-float
									label.float__label Estimated amount of deploys (optional)
									input.float__input(type="text" name="deploys" placeholder="Estimated amount of deploys (optional)")
							.grid.size-12
								.float.js-float
									label.float__label Avarage deploy time (optional)
									input.float__input(type="text" name="deployavg" placeholder="Avarage deploy time (optional)")
							.grid.size-12
								button.button.button--primary.right.js-esti-mate-submit Give it to me

			.grid.size-6.js-esti-mate-result
				h4 Estimate without deviation: 
				p.js-result-no-deviation
				h4 Estimate with 90% accuracy:
				p.js-result-ninety
				h4 Estimate with 95% accuracy:
				p.js-result-ninetyfive


