extends layout/layout
block content
	.container
	  h1 esti-mate
	  h2 Helps you estimate your projects.

	  .grid-group.js-esti-mate
			.grid.size-12
	  		input(type="text" placeholder="Best-case estimate")
	  	.grid.size-12
	  		input(type="text" placeholder="Most likely estimate")	
	  	.grid.size-12
	  		input(type="text" placeholder="Worst-case estimate")	
	  	.grid.size-12
	  		input(type="text" placeholder="Estimated amount of deploys")
			.grid.size-12
	  		input(type="text" placeholder="Avarage deploy time")

